@using SiteManagement.UI.Areas.Manager.Models
@model FlatCreateModel
@{
    ViewData["Title"] = "CreateFlat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v16/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/main.css">
    <!--===============================================================================================-->
    <!-- ======= Header ======= -->
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v16/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v16/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/js/main.js"></script>



    <div class="pagetitle">
        <h1>Daire Olustur</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <form method="post" asp-action="CreateFlat" enctype="multipart/form-data">


                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Blok</label>
                                <div class="col-sm-12">
                                    <select data-val="true" id="Block" name="Block" asp-for="Block">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Daire Durumu</label>
                                <div class="col-sm-12">
                                    <select data-val="true" id="FlatStatus" name="FlatStatus" asp-for="FlatStatus">
                                        <option value="Empty">BOS</option>
                                        <option value="Full">DOLU</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Daire Numarası</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" asp-for="DoorNumber">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Kat</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" asp-for="Floor">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Oda Sayısı</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" asp-for="RoomCount">
                                </div>
                            </div>


                            @*  <div class="row mb-3">
                            <div class="col-sm-12" style="display:flex; justify-content:flex-end">
                            <button type="submit" class="btn btn-primary rounded-pill">Kaydet</button>
                            </div>
                            </div>*@
                            <div class="container-login100-form-btn m-t-32">
                                <button class="login100-form-btn" type="submit">
                                    KAYDET
                                </button>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>


</body>

