@using SiteManagement.Entities
@model CreditCard
@{
    ViewData["Title"] = "PayDues";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    
}

<h1>Aidat Öde</h1>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <form method="post" enctype="multipart/form-data">

@*
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Ödenecek Fatura</label>
                            <div class="col-sm-12">
                                <h6>Tutar:  @Html.ViewBag.payabledues.DuesID</h6>
                            </div>
                        </div>*@


                       


                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Kredi Kartı Numarası</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" asp-for="CardNumber">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Son Kullanma Tarihi</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" asp-for="ExpirationDate">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Güvenlik Kodu</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" asp-for="CVV">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12" style="display:flex; justify-content:flex-end">
                                <button type="submit" class="btn btn-primary rounded-pill">Öde</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>


    </div>
</section>

